* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

html,
body,
#root {
  flex: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#root > main {
  flex: 1 1;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-border: rgba(0 0 0/15%);
  --color-background: white;
  --color-text: rgb(42 42 42);
  --font-size: 1rem;
  --font-weight-header: bold;
  --radius: 0.5rem;
  --space-cell: 1rem;
  --space-cell-header: 0.5rem 1rem;
}